@use "../lib/components";

.select-campaign {
  margin: 100px auto 0;
  width: 250px;
  text-align: center;
  background-color: components.$camel;
  border: 2px solid components.$mahogany;

  hr.top, hr.bottom {
    margin: 0;
  }

  button.action-link {
    font-size: 16px;
  }
}

.campaign-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}