@use "../lib/components";

.party {
  width: 100%;

  .panel-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
  }

  .player-name {
    font-size: 24px;
    margin-right: 4px;
    color: components.$mahogany;
  }

  .player-card {
    @extend .common-panel;
    width: 700px;
    max-width: 700px;
    margin: 0;
  }

  .player-header {
    display: flex;
    justify-content: space-between;
  }

  .player-attributes {
    display: flex;
    gap: 6px;
  }

  .skills-container {
    display: flex;
    justify-content: space-between;
  }

  .skills-column {
    width: 19%;

    p {
      margin: 2px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  .attribute-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .attribute {
    display: flex;
    flex-direction: column;
    border: 2px solid components.$mahogany;
    border-radius: 5px;
    padding: 2px 4px;
    align-content: center;
  }

  .attribute-text {
    font-size: 12px;
    margin: 0 auto;
  }

  .attribute-value {
    font-size: 20px;
    line-height: .9;
  }
}

.spell-casting {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  background-color: white;
  padding: 4px 8px 0;
  margin: 4px 0;
  border-radius: 5px;
  color: components.$mahogany;

  .name {
    margin-right: 6px;
    vertical-align: top;
    width: 100%;

    &.uncommon {
      color: green;
    }

    &.rare {
      color: blue;
    }

    &.very-rare {
      color: purple;
    }

    &.legendary {
      color: orange;
    }

    &.other {
      color: turquoise;
    }
  }
}

.items {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}