.game-day {
  display: flex;
  margin-right: 4px;

  &-tracker {
    width: 12px;
    min-width: 120px;
  }

  &-events {
    display: flex;
    width: 100%;

    .note-title {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }

    .note-content {

    }

    .edit-container {
      margin: 0 4px;
      float: right;
    }
  }


  &-notes {
    width: 300px;
    min-width: 300px;
  }
}