@use "../lib/components";
@use "../lib/breakpoints";

.game-day {
  display: flex;
  margin-right: 4px;

  &-tracker {
    width: 130px;
    min-width: 130px;
  }

  &-events {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
  }

  &-notes {
    width: 500px;
    min-width: 500px;

    @include breakpoints.bp-modern-down {
      width: 400px;
      min-width: 400px;
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    margin: 0 430px 0 130px;

    @include breakpoints.bp-modern-down {
      margin-right: 330px;
    }
  }

  .edit-container {
    margin: 0 4px;
    float: right;
  }

  .note-title {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    margin: 0 5px 5px;
  }

  .note-content {

  }

  //.events-entry {
  //  display: flex;
  //  border-bottom: 1px solid components.$shadow;
  //  margin-bottom: 5px;
  //}

  .day-highlight {
    color: components.$azure;
  }
}