@use "lib/components";
@use "lib/breakpoints";

.header-content {
  display: flex;
  align-items: baseline;
  height: 60px;
  margin-bottom: 12px;
  padding: 12px;
  color: components.$pale-sand;

  // These are to account for the width of the left nav and right panels
  // so these keep the banner actually centered over the main panel
  .header-align-left {
    width: 250px;
  }

  .header-align-right {
    width: 450px;
  }

  .campaign {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .current-panel {
    @extend .title;
    background-image: url("/assets/png/tavern-sign.png");
    background-size: 500px 80px;
    width: 500px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    color: components.$mahogany;
  }
}

.campaign-body-content {
  display: flex;
  justify-content: space-between;
  max-height: calc(100% - 150px);
  position: absolute;
  width: 100%;

  .left-nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
    padding-left: 6px;
    z-index: 99;
  }

  .container-toggle {
    display: none;
    background-color: components.$sable;
    height: min-content;
    position: fixed;
    color: components.$mahogany;
    border: 2px solid components.$mahogany;
    text-wrap: nowrap;

    &.left-toggle {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      text-align: left;
      border-radius: 15px 0 0 15px;
      border-left: none;
    }

    &.right-toggle {
      writing-mode: vertical-rl;
      text-align: right;
      border-radius: 15px 0 0 15px;
      border-right: none;
      right: 2px;
    }
  }

  @include breakpoints.bp-desktop-down {
    .left-nav-container {
      margin-right: 30px;
    }

    .right-toggle-container {
      margin-left: 30px;
    }

    .container-toggle {
      display: block;
      padding: 20px 2px;
      font-weight: bold;
      font-size: 20px;
    }

    .left-nav,
    .right-panel.toggle {
      position: fixed;
      padding: 0 6px;
      background-color: components.$shadow;
      border: 2px solid components.$mahogany;
    }

    .right-panel.toggle {
      right: 0;
      padding: 0 2px;
      max-height: calc(100% - 150px);

      .section-divider {
        margin-left: -2px;

        &.top {
          margin-top: 0;
        }
      }
    }

    .expanded {
      .container-toggle {
        display: none;
      }
    }

    .closed {
      .left-nav,
      .right-panel.toggle {
        display: none;
      }
    }
  }

  .panel-content {
    min-width: 200px;
    margin: 0 20px;
    overflow-y: auto;
    scrollbar-color: components.$umber components.$sable;
    scrollbar-width: thin;
  }

  .right-panel {
    width: 450px;
    min-width: 450px;
    margin-right: 8px;
    overflow-y: auto;
    scrollbar-color: components.$umber components.$sable;
    scrollbar-width: thin;
    padding-right: 4px;
    z-index: 99;
    max-height: 100%;
  }
}

.loader {
  position: fixed;
  left: 50%;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 100px 0 0 -30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page-error {

}