@import "lib/components";

//////////// Header //////////////
.header-content {
  display: flex;
  align-items: baseline;
  height: 60px;
  margin-bottom: 12px;
  padding: 12px;
  color: $pale-sand;

  .campaign {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .current-panel {
    @extend .title;
    background-image: url("/assets/png/tavern-sign.png");
    background-size: 500px 80px;
    width: 500px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    color: $mahogany;
  }
}

//////////// Campaign /////////////
.left-nav {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 200px;
  margin-left: 6px;
}

.campaign-body-content {
  display: flex;
  height: 100%;
}