//@use "../../node_modules/normalize.css/normalize.css";
@use "../../node_modules/bootstrap/scss/bootstrap.scss";
@use "../../node_modules/markdown-it-admon/styles/admonition.css";
@use "lib/breakpoints";
@use "lib/components";
@use "lib/modals";
@use "pages/campaign-select";
@use "pages/locations";
@use "pages/party";
@use "pages/player-stories";
@use "pages/spells";
@use "pages/timeline";
@use "pages/xp-tracker";
@use "layout";

@font-face {
  font-family: "EagleLake";
  src: url("/assets/fonts/EagleLake-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MedievalSharp";
  src: url("/assets/fonts/MedievalSharp-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Metamorphous";
  src: url("/assets/fonts/Metamorphous-Regular.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    background-image: url("/assets/png/tavern-medieval.png");
    background-size: cover;
    position: absolute;
  font-family: "Cambria Math", sans-serif;
}

* {
    box-sizing: unset;
}

input, textarea, select {
    box-sizing: border-box;
}